.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  width: 50%;
  max-width: 400px;
  padding: 20px;
  min-height: 400px;
}


.button{
    max-width: 200px;
    width: 80%;
    align-self: center;

}

